{% extends "../main.html" %}

{% block title %}{{ _("All Notifications") }}{% end %}

{% block content %}
<div class="hf-page-head">
    <h1><i class="fa fa-envelope-o"></i> {{ _("All Notifications") }}</h1>
    <span class="hf-tag hf-tag-mono">{{ len(user.notifications) }}</span>
</div>
<div class="hf-card hf-card-flush">
    {% if not len(user.notifications) %}
    <div class="hf-empty">{{ _("Nothing here yet") }}</div>
    {% else %}
    <ul class="hf-notifylist">
        {% for notify in reversed(list(user.notifications)) %}
        <li class="hf-alert">
            {% include "../notification_icon.html" %}
            <div class="hf-alert-body">
                <div class="hf-alert-title">
                    <strong>{{ _(notify.title) }}</strong>
                    <time>{{ notify.created.strftime("%I:%M%p %x") }}</time>
                </div>
                <p>{{ notify.message }}</p>
            </div>
        </li>
        {% end %}
    </ul>
    {% end %}
</div>
{% end %}
