{% extends "../../main.html" %}

{% block title %}{{ _("All Notifications") }}{% end %}

{% block content %}
{% from models.Notification import Notification %}
<div class="hf-page-head">
    <h1><i class="fa fa-envelope-o"></i> {{ _("All Notifications") }}</h1>
</div>
<div class="hf-card hf-card-flush">
    <ul class="hf-notifylist">
        {% for notify in reversed(list(Notification.admin())) %}
        <li class="hf-alert">
            {% include "../../notification_icon.html" %}
            <div class="hf-alert-body">
                <div class="hf-alert-title">
                    <strong>{{ _(notify.title) }}</strong>
                    <time>{{ notify.created.strftime("%I:%M%p %x") }}</time>
                </div>
                <p>{{ notify.message }}</p>
            </div>
        </li>
        {% end %}
    </ul>
</div>
{% end %}
