<div class="hf-card">
    {% if paste is not None %}
    <div class="hf-card-head">
        <div>
            <h3>{{ paste.name }}</h3>
            <span class="help-block">{{ paste.created.strftime("%I:%M%p %x") }}</span>
        </div>
        <div class="hf-inline">
            <a id="create-paste" class="btn btn-mini" href="#"><i class="fa fa-plus"></i>{{ _("Create") }}</a>
            <a id="delete-paste" class="btn btn-mini btn-danger" data-uuid="{{ paste.uuid }}"><i class="fa fa-trash-o"></i>{{ _("Delete") }}</a>
        </div>
    </div>
    <pre>{{ paste.contents }}</pre>
    {% end %}
</div>
