{% extends "../main.html" %}

{% block title %}{{ _("PasteBin") }}{% end %}

{% block header %}
<script src="/static/js/pages/pastebin.js"></script>
{% end %}

{% block content %}
<form id="delete-paste-form" method="post" action="/user/share/pastebin/delete">
    {% raw xsrf_form_html() %}
    <input id="delete-paste-uuid" name="uuid" type="hidden" value="" />
</form>
<div class="hf-page-head">
    <h1><i class="fa fa-clipboard"></i> {{ _("PasteBin") }}</h1>
    <div class="hf-page-actions">
        <a id="create-paste" class="btn btn-primary" href="#"><i class="fa fa-plus"></i>{{ _("Create") }}</a>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-lg-3">
    <aside class="hf-card hf-card-flush">
        <div class="hf-card-head"><h3>{{ _("Team Shares") }}</h3></div>
        <ul class="hf-list">
            {% if user.team and len(user.team.pastes) %}
                {% for index, paste in enumerate(user.team.pastes) %}
                <li><a id="view-paste{{ index }}" data-uuid="{{ paste.uuid }}" href="#">{{ paste.name }}</a></li>
                {% end %}
            {% else %}
                <li class="hf-list-empty">{{ _("EMPTY") }}</li>
            {% end %}
        </ul>
    </aside>
    </div>
    <div class="col-xs-12 col-lg-9">
        <div id="display-paste">
            <div class="hf-empty">{{ _("Select a paste, or create a new one") }}</div>
        </div>
    </div>
</div>
{% end %}
