{% extends "../main.html" %}

{% block title %}{{ _("Black Market") }}{% end %}

{% block header %}
<script src="/static/js/pages/market/view.js"></script>
{% end %}

{% block modals %}
{% from tornado.options import options %}
    <div id="buy-market-item-modal" class="modal hide fade" style="display: none;">
        <div class="modal-header">
            <h3>{{ _("Details") }}</h3>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
            <h4 id="name"></h4>
            <div class="hf-marketdetail">
                <img id="image" class="hf-avatar" src="" alt="" />
                <div>
                    <p><i class="fa fa-tag"></i>
                        {% if options.banking %}{{ _("Price") }}: {{ _("$") }}{% else %}{{ _("Cost") }}:{% end %}
                        <span id="price"></span>
                    </p>
                    <p><i class="fa fa-book"></i> {{ _("Description") }}:</p>
                    <blockquote><small id="description"></small></blockquote>
                </div>
            </div>
        </div>
        <form id="buy-market-item-form" method="post" action="/user/market">
            {% raw xsrf_form_html() %}
            <input id="buy-market-item-uuid" type="hidden" name="uuid" />
        </form>
        <div class="modal-footer">
            <a href="#" class="btn" data-dismiss="modal">{{ _("Close") }}</a>
            <button id="buy-market-item-submit" type="button" class="btn btn-primary">{{ _("Buy Upgrade") }}</button>
        </div>
    </div>
{% end %}

{% block content %}
{% from tornado.options import options %}
{% from models.MarketItem import MarketItem %}
<div class="hf-page-head">
    <h1><i class="fa fa-shopping-cart"></i> {{ _("Black Market") }}</h1>
</div>
{% if errors is not None and len(errors) != 0 %}
    {% for error in errors %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h4 class="alert-heading">{{ _("ERROR") }}</h4>
        {{ error }}
    </div>
    {% end %}
{% end %}
<div class="hf-card hf-card-flush">
    <div class="hf-scroll">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{{ _("Name") }}</th>
                    <th class="hf-num">{% if options.banking %}{{ _("Price") }}{% else %}{{ _("Cost") }}{% end %}</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {% for index, item in enumerate(MarketItem.all()) %}
                    {% if item.name not in options.allowed_market_items %}
                        {% continue %}
                    {% end %}
                    <tr>
                        <td>{{ index + 1 }}</td>
                        <td>{{ item.name }}</td>
                        <td class="hf-num">{% if options.banking %}{{ _("$") }}{% end %}{{ item.price }}</td>
                        <td>
                            {% if not user.has_item(item.name) %}
                            <a id="item-details-button{{ index }}" class="btn btn-mini" data-toggle="modal" href="#buy-market-item-modal" data-uuid="{{ item.uuid }}">
                                {{ _("Details") }}
                            </a>
                            {% else %}
                            <em class="text-muted">{{ _("Purchased") }}</em>
                            {% end %}
                        </td>
                    </tr>
                {% end %}
            </tbody>
        </table>
    </div>
</div>
{% end %}
