{# game icon when one is configured, otherwise the first letter of the game name #}
{% from tornado.options import options %}
{% from libs.ConfigHelpers import config_image %}
{% set brand_icon = config_image("game_icon") %}
{% if options.debug %}
    <span class="hf-brand-mark"><i class="fa fa-bug"></i></span>
{% elif brand_icon %}
    <span class="hf-brand-mark hf-brand-mark-image"><img src="{{ brand_icon }}" alt="" /></span>
{% else %}
    <span class="hf-brand-mark">{{ options.game_name[:1].upper() }}</span>
{% end %}
