{% extends "../main.html" %}

{% block title %}{{ _("History") }}{% end %}

{% block header %}
<script src="/static/js/libs/highcharts-all.js"></script>
<script src="/static/js/pages/scoreboard/history.js"></script>
{% end %}

{% block content %}
{% from tornado.options import options %}
{% if not hide_scoreboard %}
<script type="application/javascript">
    setGraphTitle("{% if options.banking %}{{ _('Bank Account Balance') }}{% else %}{{ _('Score') }}{% end %}");
    setGraphScale("{% if options.banking %}{{ _('Money') }}{% else %}{{ _('Points') }}{% end %}");
    setGraphSymbol("{% if options.banking %}{{ _('$') }}{% end %}");
</script>
<div class="hf-page-head">
    <h1><i class="fa fa-bar-chart-o"></i> {{ _("Charts") }}</h1>
    {% if timer %}<h3 id="timercount" class="hf-timer" title="{{ _('Scoreboard Countdown') }}"></h3>{% end %}
</div>

<div class="hf-card hf-card-flush">
    <div class="hf-card-head">
        <div class="hf-inline">
            <i id="history-icon" class="fa fa-fw fa-calendar"></i>
            <h3>{{ _("History") }}</h3>
        </div>
        <div class="hf-inline">
            <a id="flags-history-button" class="btn btn-mini" href="#"><i class="fa fa-flag"></i>{{ _("Flags") }}</a>
            <a id="money-history-button" class="btn btn-mini" href="#">
                {% if options.banking %}<i class="fa fa-dollar"></i>{{ _("Money") }}
                {% else %}<i class="fa fa-fw fa-bar-chart-o"></i>{{ _("Score") }}{% end %}
            </a>
            {% if options.use_bots %}
            <a id="bots-history-button" class="btn btn-mini" href="#"><i class="fa fa-android"></i>{{ _("Bots") }}</a>
            {% end %}
            <span class="help-block">{{ _("Top") }}</span>
            <select id="datapoints" class="hf-pagesize">
                <option value="5">5</option>
                <option value="10" selected>10</option>
                <option value="15">15</option>
                <option value="25">20</option>
                <option value="30">30</option>
            </select>
            <i id="activity-monitor" class="fa fa-fw fa-eye-slash"></i>
        </div>
    </div>
    <div id="history-graph" class="hf-chart" data-name="{{ _('Botnets') }}"
        data-xaxis="{{ _('Time') }}" data-yaxis="{{ _('Number of Bots') }}"></div>
</div>

<div id="pie_graphs" class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="hf-card">
            <div id="pie_flags" class="hf-chart hf-chart-sm" data-name="{{ _('Flags Captured') }} ({{ _('Top 10') }})"></div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="hf-card">
            <div id="pie_money" class="hf-chart hf-chart-sm"
                data-name="{% if options.banking %}{{ _('Bank Account') }}{% else %}{{ _('Score') }}{% end %} ({{ _('Top 10') }})"
                data-symbol="{% if options.banking %}{{ _('$') }}{% end %}"></div>
        </div>
    </div>
</div>
{% else %}
<h1 id="timercount_hidescoreboard" class="timercount"></h1>
{% end %}
{% end %}
