{% from tornado.options import options %}
{% set hint_count_all = game_state.get("hint_count") %}
{% set flag_count_all = game_state.get("flag_count") %}
{% set box_count_all = game_state.get("box_count") %}
{% set level_count_all = game_state.get("level_count") %}
{% set teaminfo = game_state.get("teams") %}
{% set levelinfo = game_state.get("levels") %}
{% for t_index, team_name in enumerate(teaminfo) %}
    {% set team = teaminfo.get(team_name) %}
    {% if team.get("members_count") > 0 %}
    <tr id="{{ team.get('uuid') }}">
        <td class="summarycolumn hf-rank">{{ page * display - display + t_index + 1 }}</td>
        <td style="display: none;">{{ team.get('uuid') }}</td>
        <td class="summarycolumn anim:hold">
            <div class="hf-scoreteam">
                <span class="hf-scoreteam-name">{{ team_name }}</span>
                <span class="hf-scoreteam-note">
                    {% if options.hints_taken and hint_count_all > 0 %}<span class="hintcol">{{ team.get('hints_count') }} {{ _("Hints Taken") }}</span>{% end %}<span id="last-{{ team.get('uuid') }}"{% if options.hints_taken and hint_count_all > 0 %} class="lastflagcol" style="display: none;"{% end %}></span>
                </span>
            </div>
            <div class="hf-scorebars">
                {% for index, level_name in enumerate(levelinfo) %}
                    {% set level = levelinfo.get(level_name) %}
                    {% set box_count_lvl = level.get("box_count") %}
                    {% set team_level = level.get("teams").get(team_name) %}
                    {% set team_count_lvl = team_level.get("lvl_count") %}
                    {% if team and level.get("type") == "hidden" and not team_level.get("lvl_unlock") %}
                        {% continue %}
                    {% end %}
                    {% if level_count_all > 1 and box_count_lvl > 0 and box_count_lvl < box_count_all %}
                        <div class="hf-scorebar" title="{{ level_name }} &ndash; {% if level.get('number') >= 0 and team_count_lvl != 0 %}{{ int((team_count_lvl / float(level.get('flag_count'))) * 100) }}%{% else %}0%{% end %}">
                            {% if level.get("type") == "none" or not team or team_level.get("lvl_unlock") %}
                                <i class="fa fa-unlock-alt"></i>
                            {% else %}
                                <i class="fa fa-lock"></i>
                            {% end %}
                            <div class="progress minibar">
                                <div class="bar minibar" style="width: {% if level.get('number') >= 0 and team_count_lvl != 0 %}{{ (team_count_lvl / float(level.get('flag_count'))) * 100.0 }}{% else %}0{% end %}%;"></div>
                            </div>
                        </div>
                    {% elif box_count_lvl > 0 %}
                        {% set box_level = level.get("boxes") %}
                        {% for index, box_uuid in enumerate(box_level) %}
                            {% set box = box_level.get(box_uuid) %}
                            {% set flag_count_box = box.get("flag_count") %}
                            {% set team_box = box.get("teams").get(team_name) %}
                            {% set team_count_box = team_box.get("box_count") %}
                            {% if box_count_lvl > 1 and flag_count_box > 0 and (flag_count_box < flag_count_all or flag_count_all > 35) %}
                                <div class="hf-scorebar" title="{% if box_count_all > 1 %}{{ box.get('name') }} &ndash; {% end %}{% if team_count_box != 0 %}{{ int((team_count_box / float(flag_count_box)) * 100) }}%{% else %}0%{% end %}">
                                    <div class="progress minibar">
                                        <div class="bar minibar" style="width: {% if team_count_box != 0 %}{{ (team_count_box / float(flag_count_box)) * 100.0 }}{% else %}0{% end %}%;"></div>
                                    </div>
                                </div>
                            {% elif flag_count_box > 0 %}
                                {% set flags = box.get("flags") %}
                                {% for index, flaguuid in enumerate(flags) %}
                                    {% set flag = flags[flaguuid] %}
                                    <div class="hf-scorebar" title="{{ flag.get('name') }}">
                                        <div class="progress minibar">
                                            <div class="bar minibar" style="width: {% if flaguuid in team.get('flags') %}100{% else %}0{% end %}%;"></div>
                                        </div>
                                    </div>
                                {% end %}
                            {% end %}
                        {% end %}
                    {% end %}
                {% end %}
            </div>
        </td>
        <td class="summarycolumn botcol hf-num"{% if not options.use_bots %} style="display: none;"{% end %}>{{ team.get("bot_count") }}</td>
        <td class="summarycolumn flagcol hf-num{% if options.rank_by != 'money' %} hf-score-lead{% end %}">{{ len(team.get("flags")) }}</td>
        <td class="summarycolumn moneycol hf-num{% if options.rank_by == 'money' %} hf-score-lead{% end %}">{% if options.banking %}{{ _("$") }}{% end %}{{ team.get("money") }}</td>
        <td class="summarycolumn">
            <a id="{% if options.teams %}team{% else %}user{% end %}-details-button{{ t_index }}" class="btn btn-mini" data-toggle="modal" data-uuid="{% if options.teams %}{{ team.get('uuid') }}{% else %}{{ team.get('users')[0] }}{% end %}">{{ _("Details") }} &raquo;</a>
        </td>
    </tr>
    {% end %}
{% end %}
