{% from tornado.options import options %}
<input type="checkbox" id="hf-nav-toggle" class="hf-nav-toggle" hidden>
<aside class="hf-sidebar">
    <div class="hf-sidebar-head">
        <a class="hf-brand" href="/">
            {% include "../brand_mark.html" %}
            <span class="hf-brand-name">{% if options.debug %}{{ _("DEBUG") }}{% else %}{{ options.game_name }}{% end %}</span>
        </a>
        <label for="hf-nav-toggle" class="hf-burger" title="{{ _('Menu') }}">
            <i class="fa fa-bars"></i>
        </label>
    </div>
    <nav class="hf-nav">
        <div class="hf-nav-group hf-nav-top">
            <a class="hf-nav-item" href="/login">
                <i class="fa fa-fw fa-sign-in"></i><span>{{ _("Login") }}</span>
            </a>
            {% if registration_visible %}
            <a class="hf-nav-item" href="/registration">
                <i class="fa fa-fw fa-pencil"></i><span>{{ _("Registration") }}</span>
            </a>
            {% end %}
        </div>
        {% if scoreboard_visible %}
        <div class="hf-nav-group">
            <div class="hf-nav-label">{{ _("Scoreboard") }}</div>
            <a class="hf-nav-item" href="/scoreboard">
                <i class="fa fa-fw fa-list"></i><span>{{ _("Summary") }}</span>
            </a>
            <a class="hf-nav-item" href="/scoreboard/history">
                <i class="fa fa-fw fa-calendar"></i><span>{{ _("Charts") }}</span>
            </a>
            <a class="hf-nav-item" href="/teams">
                <i class="fa fa-fw fa-users"></i><span>{% if options.teams %}{{ _("Teams") }}{% else %}{{ _("Players") }}{% end %}</span>
            </a>
            {% if options.use_black_market and "Federal Reserve" in options.allowed_market_items %}
            <a class="hf-nav-item" href="/scoreboard/wall_of_sheep">
                <i class="fa fa-fw fa-key"></i><span>{{ _("Wall of Sheep") }}</span>
            </a>
            {% end %}
        </div>
        {% end %}
    </nav>
    <div class="hf-sidebar-foot">
        <a class="hf-nav-item" href="/about">
            <i class="fa fa-fw fa-info-circle"></i><span>{{ _("About") }}</span>
        </a>
    </div>
</aside>
