<script src="/static/js/pages/menu/refresh.js" type="text/javascript"></script>
{% from tornado.options import options %}
{% from handlers.MaterialsHandler import has_materials %}
<input type="checkbox" id="hf-nav-toggle" class="hf-nav-toggle" hidden>
<aside class="hf-sidebar">
    <div class="hf-sidebar-head">
        <a class="hf-brand" href="/user">
            {% include "../brand_mark.html" %}
            <span class="hf-brand-name">{% if options.debug %}{{ _("DEBUG") }}{% else %}{{ options.game_name }}{% end %}</span>
        </a>
        <label for="hf-nav-toggle" class="hf-burger" title="{{ _('Menu') }}">
            <i class="fa fa-bars"></i>
        </label>
    </div>
    <nav class="hf-nav">
        <div class="hf-nav-group hf-nav-top">
            <a class="hf-nav-item" href="/user">
                <i class="fa fa-fw fa-home"></i><span>{{ _("Home") }}</span>
            </a>
            <a class="hf-nav-item" href="/user/missions">
                <i class="fa fa-fw fa-terminal"></i><span>{{ _("Missions") }}</span>
            </a>
            {% if options.use_black_market %}
            <a class="hf-nav-item" href="/user/market">
                <i class="fa fa-fw fa-shopping-cart"></i><span>{{ _("Black Market") }}</span>
            </a>
            {% end %}
            {% if options.use_bots %}
            <a class="hf-nav-item" href="/user/bots/webmonitor">
                <i class="fa fa-fw fa-android"></i><span>{{ _("Command & Control") }}</span>
            </a>
            <a class="hf-nav-item" href="/user/bots/download/windows" target="_blank">
                <i class="fa fa-fw fa-download"></i><span>{{ _("Download") }} Windows {{ _("Bot") }}</span>
            </a>
            <a class="hf-nav-item" href="/user/bots/download/linux" target="_blank">
                <i class="fa fa-fw fa-download"></i><span>{{ _("Download") }} Linux / BSD {{ _("Bot") }}</span>
            </a>
            {% end %}
        </div>
        {% if scoreboard_visible %}
        <div class="hf-nav-group">
            <div class="hf-nav-label">{{ _("Scoreboard") }}</div>
            <a class="hf-nav-item" href="/scoreboard">
                <i class="fa fa-fw fa-list"></i><span>{{ _("Summary") }}</span>
            </a>
            <a class="hf-nav-item" href="/scoreboard/history">
                <i class="fa fa-fw fa-calendar"></i><span>{{ _("Charts") }}</span>
            </a>
            <a class="hf-nav-item" href="/teams">
                <i class="fa fa-fw fa-users"></i><span>{% if options.teams %}{{ _("Teams") }}{% else %}{{ _("Players") }}{% end %}</span>
            </a>
            {% if options.use_black_market and "Federal Reserve" in options.allowed_market_items %}
            <a class="hf-nav-item" href="/scoreboard/wall_of_sheep">
                <i class="fa fa-fw fa-key"></i><span>{{ _("Wall of Sheep") }}</span>
            </a>
            {% end %}
        </div>
        {% end %}
        {% set tool_links = [link for link in options.tool_links if link.get("name") and link.get("url") and not (link.get("name") == "CyberChef" and not options.use_cyberchef)] %}
        {% set show_materials = (handler.application.settings["game_started"] or options.game_materials_on_stop) and has_materials() %}
        {% set show_files = options.teams and options.team_sharing and options.use_file_sharing %}
        {% set show_pastebin = options.teams and options.team_sharing and options.use_pastebin %}
        {% set show_chat = len(options.chat_url) > 0 %}
        {% if len(tool_links) or show_materials or show_files or show_pastebin or show_chat %}
        <div class="hf-nav-group">
            <div class="hf-nav-label">{{ _("Tools") }}</div>
            {% for link in tool_links %}
                {% if not link.get("target") %}
                    {% set link["target"] = "_blank" %}
                {% end %}
                {% set dark = link.get("name") == "CyberChef" and user.theme in ("HelloFlag", "Cyborg", "Slate") %}
                {% set theme = "?theme=dark" if dark else "" %}
                <a class="hf-nav-item" href="{{ link.get('url') }}{{ theme }}" target="{{ link.get('target') }}">
                    <i class="fa fa-fw fa-link"></i><span>{{ link.get('name') }}</span>
                </a>
            {% end %}
            {% if show_materials %}
            <a class="hf-nav-item" href="/materials">
                <i class="fa fa-fw fa-folder-open-o"></i><span>{{ _("Game Materials") }}</span>
            </a>
            {% end %}
            {% if show_files %}
            <a class="hf-nav-item" href="/user/share/files">
                <i class="fa fa-fw fa-files-o"></i><span>{{ _("Team File Share") }}</span>
            </a>
            {% end %}
            {% if show_pastebin %}
            <a class="hf-nav-item" href="/user/share/pastebin">
                <i class="fa fa-fw fa-clipboard"></i><span>{{ _("Team PasteBin") }}</span>
            </a>
            {% end %}
            {% if show_chat %}
            <a class="hf-nav-item" href="{{ options.chat_url }}" rel="noopener noreferrer" target="_blank">
                <i class="fa fa-fw fa-comment"></i><span>{{ _("Chat") }}</span>
            </a>
            {% end %}
        </div>
        {% end %}
        {% if options.use_black_market and user.team and len(user.team.items) != 0 %}
        <div class="hf-nav-group">
            <div class="hf-nav-label">{{ _("Unlocks") }}</div>
            {% if user.has_item("Source Code Market") %}
            <a class="hf-nav-item" href="/source_code_market">
                <i class="fa fa-fw fa-code"></i><span>{{ _("Source Code Market") }}</span>
            </a>
            {% end %}
            {% if user.has_item("Password Security") %}
            <a class="hf-nav-item" href="/password_security">
                <i class="fa fa-fw fa-lock"></i><span>{{ _("Password Security") }}</span>
            </a>
            {% end %}
            {% if user.has_item("Federal Reserve") %}
            <a class="hf-nav-item" href="/federal_reserve">
                <i class="fa fa-fw fa-dollar"></i><span>{{ _("Federal Reserve") }}</span>
            </a>
            {% end %}
            {% if user.has_item("SWAT") %}
            <a class="hf-nav-item" href="/swat">
                <i class="fa fa-fw fa-crosshairs"></i><span>{{ _("S.W.A.T.") }}</span>
            </a>
            {% end %}
        </div>
        {% end %}
    </nav>
    {% include "userpanel.html" %}
</aside>
