tornado
pbkdf2
PyMySQL
cryptography
python-binary-memcached
python-dateutil
defusedxml
netaddr
pytest
python-resize-image
sqlalchemy>=1.4.54,<2
alembic
mysqlclient
rocketchat_API
setuptools
setuptools-rust
msal
requests
