{% extends "../main.html" %}

{% block title %}{{ _("About") }}{% end %}

{% block content %}
<div class="hf-page-head">
    <div>
        <p class="hf-eyebrow">{{ _("About") }}</p>
        <h1>Root the Box <span class="hf-tag hf-tag-mono">v{{ handler.application.settings["version"] }}</span></h1>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="hf-card">
            <div class="hf-card-head"><h3>{{ _("Programming") }}</h3></div>
            <ul class="hf-people">
                <li><i class="fa fa-trophy"></i> Moloch</li>
                <li><i class="fa fa-code"></i> ElJeffe</li>
            </ul>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="hf-card">
            <div class="hf-card-head"><h3>{{ _("Special Thanks") }}</h3></div>
            <div class="hf-inline">
                <a href="http://www.blackhartfilms.com/" target="_blank" rel="noopener noreferrer">
                    <img src="/static/images/blackheart.png" alt="Blackhart Films" />
                </a>
                <a href="https://www.bishopfox.com/" target="_blank" rel="noopener noreferrer">
                    <img src="/static/images/bf.png" alt="Bishop Fox" />
                </a>
            </div>
        </div>
    </div>
</div>

<div class="hf-card">
    <div class="hf-card-head"><h3>{{ _("With contributions from") }}</h3></div>
    <ul class="hf-people hf-people-grid">
        <li>AnarKyx01</li><li>ElmoArmy</li><li>lstep</li>
        <li>askew</li><li>F13</li><li>ekstrah</li>
        <li>iggykrajci</li><li>garanews</li><li>shshzi</li>
        <li>tinmartinet</li><li>Enki</li><li>anthturner</li>
        <li>yolylight</li><li>Eriner</li><li>jinghli</li>
        <li>RyPeck</li><li>bkimminich</li><li>remi1411</li>
        <li>lavalamp</li><li>dadokkio</li><li>Und3rf10w</li>
        <li>pointhi</li><li>sporky</li><li>dNetGuru</li>
        <li>Arrow768</li><li>PunitTailor55</li><li>simon-hoegl</li>
    </ul>
</div>
{% end %}
