{% extends "../main.html" %}

{% block title %}
 {% from tornado.options import options %}
 {{ options.game_name }}
{% end %}

{% block header %}
<script src="/static/js/libs/commonmark.min.js"></script>
<script src="/static/js/pages/public/home.js"></script>
{% end %}

{% block content %}
{% from tornado.options import options %}
<div class="hf-hero hf-card hf-card-glow">
    <div class="hf-hero-logo">
        {% include "../brand_mark.html" %}
        <h1 class="hf-hero-title">{{ options.game_name }}</h1>
    </div>
    <p class="hf-eyebrow">{{ _("Capture the Flag") }}</p>
    {% if len(options.home_markdown) %}
    <div class="hf-hero-content markdown">{{ "\n".join(options.home_markdown) }}</div>
    {% else %}
    <p class="hf-hero-tagline">{{ options.ctf_tagline }}</p>
    {% end %}
    {% if options.home_show_login or options.home_show_scoreboard %}
    <div class="hf-inline hf-hero-actions">
        {% if options.home_show_login %}
        <a class="btn btn-primary btn-large" href="/login"><i class="fa fa-sign-in"></i>{{ _("Login") }}</a>
        {% end %}
        {% if options.home_show_scoreboard %}
        <a class="btn btn-large" href="/scoreboard"><i class="fa fa-list"></i>{{ _("Scoreboard") }}</a>
        {% end %}
    </div>
    {% end %}
</div>
{% end %}
