{% extends "../main.html" %}

{% block title %}{{ _("Join a Team") }}{% end %}

{% block header %}
    <script src="/static/js/pages/public/registration.js"></script>
{% end %}

{% block content %}
{% from tornado.options import options %}
<div class="hf-auth">
    <div class="hf-auth-card is-wide">
        <div class="hf-auth-head">
            <span class="hf-brand-mark"><i class="fa fa-users"></i></span>
            <h1>{{ _("Join a Team") }}</h1>
        </div>
        {% if errors is not None and len(errors) != 0 %}
            {% for error in errors %}
            <div class="alert alert-error">
                <a class="close" data-dismiss="alert" href="#">&times;</a>
                <h4 class="alert-heading">{{ _("ERROR") }}</h4>
                {{ error }}
            </div>
            {% end %}
        {% end %}
        {% if not suspend %}
        <form class="form-horizontal" action="/jointeam" method="post" enctype="multipart/form-data">
            {% raw xsrf_form_html() %}
            <div class="control-group">
                <label class="control-label" for="team-code">{{ _("Team Code") }}</label>
                <div class="controls">
                    <input id="team-code" name="team-code" type="text" placeholder="{{ _('Team Code') }}">
                    <span class="help-block">{{ _("Provide the code used to join an existing team.  Visible to other team members on their home page.") }}</span>
                </div>
            </div>
            {% if options.banking %}
            <div class="control-group">
                <label class="control-label" for="bpass">{{ _("Bank Account Password") }}</label>
                <div class="controls">
                    <input required id="bpass" name="bpass" type="password" autocomplete="off"
                        maxlength="{{ options.max_password_length }}" placeholder="{{ _('Bank Account Password') }}" />
                    <span class="help-block">{{ _("Used to secure your (in-game) bank account.") }} [{{ _("Max") }}: {{ options.max_password_length }} {{ _("Characters") }}]. {{ _("Please do NOT enter your real bank account password.") }}</span>
                </div>
            </div>
            {% end %}
            {% if options.privacy_policy_link %}
            <div class="control-group">
                <label class="control-label" for="privacy_policy_accept">{{ _("I accept the") }} <a href="{{ options.privacy_policy_link }}">{{ _("Privacy Policy") }}</a></label>
                <div class="controls hf-check">
                    <input required id="privacy_policy_accept" name="privacy_policy_accept" type="checkbox" />
                </div>
            </div>
            {% end %}
            <input id="login-hint" name="login-hint" type="hidden" value="{{ login_hint }}" />
            <div class="form-actions">
                <button class="btn btn-primary" type="submit">{{ _("Join") }}</button>
            </div>
        </form>
        {% else %}
        <div class="hf-empty"><i class="fa fa-group"></i>&nbsp;{{ _("The game is not accepting new players at this time.") }}</div>
        {% end %}
    </div>
</div>
{% end %}
