{% extends "../main.html" %}

{% block title %}{{ _("Successful Registration") }}{% end %}

{% block content %}
{% from tornado.options import options %}
<div class="hf-auth">
    <div class="hf-auth-card">
        <div class="hf-auth-head">
            <span class="hf-brand-mark"><i class="fa fa-check"></i></span>
            <h1>{{ _("Successfully created a new account for") }} {{ user.handle }}!</h1>
        </div>
        {% if options.teams and user.team %}
        <div class="hf-card">
            <p class="hf-eyebrow">{{ _("Team Code") }}</p>
            <p class="hf-stat-value">{{ user.team.code }}</p>
            <p class="help-block">{{ _("Share your team code to allow other players to join") }} {{ user.team.name }}.</p>
        </div>
        {% end %}
        {% if validate %}
        <div class="alert alert-info">
            <i class="fa fa-envelope"></i>&nbsp;{{ _("Please check your email for account validation") }}
        </div>
        {% else %}
        <a class="btn btn-primary btn-block" href="/login">{{ _("Click here to login") }} &raquo;</a>
        {% end %}
    </div>
</div>
{% end %}
