{% extends "../../main.html" %}

{% block title %}{{ _("Create Flag") }}{% end %}

{% block content %}
{% set thebox = "?box=" + box.uuid if box else "" %}
<div class="hf-page-head">
    <h1><i class="fa fa-flag"></i> {{ _("Create Flag") }}</h1>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <a class="hf-card hf-card-link hf-flagtype" href="/admin/create/flag/static{{ thebox }}">
            <i class="fa fa-flag-o"></i><span>{{ _("Create Static Flag") }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <a class="hf-card hf-card-link hf-flagtype" href="/admin/create/flag/datetime{{ thebox }}">
            <i class="fa fa-flag-o"></i><span>{{ _("Create Datetime Flag") }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <a class="hf-card hf-card-link hf-flagtype" href="/admin/create/flag/regex{{ thebox }}">
            <i class="fa fa-flag-o"></i><span>{{ _("Create Regex Flag") }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <a class="hf-card hf-card-link hf-flagtype" href="/admin/create/flag/file{{ thebox }}">
            <i class="fa fa-flag-o"></i><span>{{ _("Create File Flag") }}</span>
        </a>
    </div>
    <div class="col-xs-12 col-sm-6 col-lg-4">
        <a class="hf-card hf-card-link hf-flagtype" href="/admin/create/flag/choice{{ thebox }}">
            <i class="fa fa-flag-o"></i><span>{{ _("Create Multiple Choice Flag") }}</span>
        </a>
    </div>
</div>
{% end %}
