{% extends "../../main.html" %}

{% block title %}{{ _("Create Team") }}{% end %}

{% block header %}
<script src="/static/js/pages/admin/create/team.js"></script>
{% end %}

{% block modals %}
{% from libs.XSSImageCheck import filter_avatars %}
{% set avatars = filter_avatars("team") %}
<div id="change-team-avatar-modal" class="modal modal-wide hide fade" style="display: none;">
    <div class="modal-header">
        <h3>{{ _("Team Avatar") }}</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
    </div>
    <div class="modal-body">
        {% raw xsrf_form_html() %}
        <a id="avatarclose" href="#" class="btn hf-hidden" data-dismiss="modal">{{ _("Close") }}</a>
        <div class="hf-grid hf-grid-auto hf-avatar-picker">
            {% for avatar in avatars %}
            <a href="#" class="teamavatarimg hf-avatar-option" value="{{ avatar }}">
                <img src="/avatars/{{ avatar }}" class="hf-avatar" alt="" />
            </a>
            {% end %}
        </div>
    </div>
</div>
{% end %}

{% block content %}
{% from libs.XSSImageCheck import filter_avatars %}
{% set avatars = filter_avatars("team") %}
<div class="hf-page-head">
    <h1><i class="fa fa-group"></i> {{ _("Create Team") }}</h1>
</div>
{% if errors is not None and len(errors) != 0 %}
    {% for error in errors %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert" href="#">&times;</a>
        <h4 class="alert-heading">{{ _("ERROR") }}</h4>
        {{ error }}
    </div>
    {% end %}
{% end %}
<div class="hf-card">
    <form class="form-horizontal" action="/admin/create/team" method="post" enctype="multipart/form-data">
        {% raw xsrf_form_html() %}
        <div class="control-group">
            <label class="control-label" for="team-name">{{ _("Team Name") }}</label>
            <div class="controls">
                <input autofocus required id="team-name" name="team_name" maxlength="24" type="text" placeholder="{{ _('Team Name') }}" />
                <span class="help-block">{{ _("Choose a name for your new team!") }} [3-24 {{ _("Characters") }}]</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="motto">{{ _("Motto") }}</label>
            <div class="controls">
                <input id="motto" name="motto" maxlength="32" type="text" placeholder="{{ _('Team Motto') }}" />
                <span class="help-block">{{ _("What is your teams motto?") }} [{{ _("Max") }}: 32 {{ _("Characters") }}]</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="team-avatar">{{ _("Avatar") }}</label>
            <div class="controls hf-inline">
                <a id="uploadbutton" class="btn" href="#">{{ _("Upload Avatar") }}</a>
                <input id="team-avatar" name="avatar" type="file" class="hf-hidden" />
                <input id="team_avatar_select" name="team_avatar_select" type="hidden" />
                {% if len(avatars) > 0 %}
                <a data-toggle="modal" class="btn" href="#change-team-avatar-modal">{{ _("Choose Avatar") }}</a>
                {% end %}
                <div id="avatarfilename" class="help-block"></div>
            </div>
        </div>
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">{{ _("Create Team") }}</button>
        </div>
    </form>
</div>
{% end %}
